<html>
  <head>
    <title>Hola, Ansible Grade School</title>
  </head>
  <body>
  <h1>nginx webserver, configured by Ansible</h1>
  <p>This is our hello world for a playbook.</p>

  <p>This file is {{ ansible_managed }}</p>
  </body>
</html>
